.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/watermarks/image/rDtN98Qoishumwih/seamless-pattern-background-for-happy-friendship-day_G1h-xQR__SB_PM.jpg);
}
.mainButton{
  padding: 15px;
  background-color: black;
  font-size: 1.5rem;
  color: azure;
  border-radius: 8px;
  box-shadow: 3px 2px 12px white;
  margin-top:50px ;
}
.heading{
  color: #264653;
  text-align: center;
  font-size:3rem;
}
.para{
  color: #e63946;
  text-align: center;
  width: 100vw;
  font-weight: 700;
}
.name{
  color: black;
  font-size: 1.5rem;

}